<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
  <nav>
  {{- partial "header.html" . -}}
  </nav>
  <header>
    <h2>{{ .Page.Title }}</h2>
    <aside>
    {{ if .Params.slug }}
    <i>{{ .Date.Format "January 2, 2006" }}</i>
    |
      {{ with .Params.tags }}
        {{ range $i, $e := . }}
          {{ if $i }}&nbsp;{{ end }}
          <a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{ $e }}</a>
        {{ end }}
      {{ end }}
      &nbsp;
      &nbsp;
    {{ end }}
  </aside>
  </header>
  {{ if .Params.img }}
  <img alt="{{ .Params.imgAlt }}" src="{{ .Params.img | relURL }}" />
  {{ end }}
  <main>  
  {{- block "main" . -}}{{- end -}}
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
  <h3>Further Reading:</h3>
  <ul>
   {{ range . }}
   <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .ReadingTime }} minute read)</li>
   {{ end }}
  </ul>
  {{ end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>

</html>