html {
  max-width: 80ch;
  padding: 0 0 3em 0;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem;
}

img,
pre,
blockquote,
.highlight {
  margin: 0 auto;
  max-width: 100%;
  word-wrap: normal;
  overflow: auto;
  border-radius: 0.25rem;
}

a {
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 2px solid #673AB7;
}

a:hover {
  border-bottom: 2px solid #2ecc71;
}

aside {
  margin: 2rem 0;
}

blockquote {
  padding: 1rem;
  background-color: #FFEBEE;
  border-left: 0.25rem solid #FFCDD2;
}

table {
  display: table;
  width: 100%;
}

th {
  font-weight: bold;
}

td,
th {
  border-bottom: 0 solid #F44336;
  text-align: left;
  vertical-align: top;
}

thead th {
  border-bottom-width: 0.135rem;
}

p,
ul,
ol,
li {
  margin: 1rem 0;
  color: #363636;
  font-family: Segoe UI, Frutiger, sans-serif;
  word-wrap: break-word;
}

ol > li::marker {
  font-weight: bold;
}

nav:not(#TableOfContents) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav {
  width: 100%;
}

nav img {
  width: 48px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}