html {
  font-size: 1.15em;
  line-height: 1.75;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

main,
header {
  max-width: 72ch;
  margin: auto;
  padding: 0 1em;
}

footer {
  max-width: 72ch;
  margin: 2em auto;
  color: #34495E;
}

aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

aside * {
  margin-left: 1em;
}

a {
  color: #0D47A1;
}

a:visited {
  color: #9B59B6;
}

nav:not(#TableOfContents) {
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  border-bottom: #595959 solid 1px;
  position: sticky;
  top: 0;
  background-color: white;
}

nav img {
  width: 32px;
}

nav ul:not(#TableOfContents *) {
  list-style: none;
}

nav ul li:not(#TableOfContents *) {
  display: inline;
  margin-right: 1em;
}

body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

h5 {
  background-color: #1d1d1d;
  color: #ECF0F1;
  padding: 1em;
  max-width: fit-content;
  font-family: monospace;
  border-radius: 0.2rem;
}

h2:first-of-type {
  margin: 1em 0;
}

li {
  line-height: 1.6rem;
}

li p {
  margin-block-start: 0;
  margin-block-end: 0;
}

img,
pre,
table,
code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  border-radius: 0.2rem;
}

code {
  font-size: 0.8em !important;
}

table {
  width: 100%;
  white-space: pre-wrap;
}

code:not(.highlight *) {
  background-color: #ECF0F1;
  border: 1px solid #BDC3C7;
  padding: 0.1rem 0.2rem 0.1rem 0.1rem;
  font-style: italic;
}

pre {
  padding: 1em;
}

th {
  font-weight: 600
}

td,
th {
  border-bottom: 0 solid #595959;
  text-align: left;
  vertical-align: top
}

thead th {
  border-bottom-width: 0.135rem;
}

table {
  display: table;
}

h3 span {
  margin-left: 8px;
  vertical-align: bottom;
  font-size: 0.8em;
  font-weight: normal;
}

blockquote {
  border-left: 2px #1d1d1d solid;
  padding-left: 0.5rem;
}

.footnotes li {
  margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
  body, nav:not(#TableOfContents) {
    background-color: #1d1d1d;
    color: #ECF0F1;
  }

  footer {
    color: #BDC3C7;
  }

  h5 {
    background-color: #ECF0F1;
    color: #1d1d1d;
  }

  code:not(.highlight *) {
    background-color: #282a36;
    border: 1px solid #f8f8f2;
  }

  blockquote {
    border-left: 2px #ECF0F1 solid;
  }
}