
  <h4><a href="/">{{ .Site.Title }}</a></h4>
  <nav>
  <span>
    <span>[</span>
    <a href="/archive">archive</a>
    <span>]</span>
    <span>[</span>
    <a href="/links">links</a>
    <span>]</span>
    <span>[</span>
    <a href="/certs">certifications</a>
    <span>]</span>
  </span>
</nav>
<hr />

{{ if .Params.Date }}
  <h2>{{ .Page.Title }}</h2>
  <code>{{ .Date.Format "January 2, 2006" }}</code>
  &squf;
    {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}"><code>{{ . }}</code></a>
    {{ end }}
{{ end }}